@import url('https://example.com/style.css');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: calc(1rem + 0.5vw);
    font-family: Arial, sans-serif;
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.active {
  color: #fff;
}

section {
  padding: 2rem;
}


.footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: lightgray;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgba(34, 34, 34, 0.85); 
    padding: 10px 0;
    border-radius: 30px;
    margin: 0 auto;
    max-width: 900px;  
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
    font-size: 20px;
    color: lightgray;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 20px;
    margin: 0;
    transition: background 0.2s, color 0.2s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    display: inline-block;
}

.content {
  grid-row: 2;
  overflow-y: auto;
}


.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, #4169e4,#ffd700);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0;;
}

.home-content h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0.5em;
    animation: slideRight .5s ease forwards;
    animation-delay: 1.5s;
}

.home-content h3 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
    animation: slideRight .7s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.3s;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0;;
}

.about-content h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0.5em;
    animation: slideRight .5s ease forwards;
    animation-delay: 1.5s;
}

.about-content p {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.3s;
}

.skill-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0;;
}

.skill-content h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0.5em;
    animation: slideRight .5s ease forwards;
    animation-delay: 1.5s;
}

.skill-content h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
    animation: slideRight .7s ease forwards;
    animation-delay: 1s;
}

.skill-content p {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.3s;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0;;
}

.portfolio-content h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0.5em;
    animation: slideRight .5s ease forwards;
    animation-delay: 1.5s;
}

.portfolio-content h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
    animation: slideRight .7s ease forwards;
    animation-delay: 1s;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0;;
}

.contact-content h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0.5em;
    animation: slideRight .5s ease forwards;
    animation-delay: 1.5s;
}

.contact-content h3 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
    animation: slideRight .7s ease forwards;
    animation-delay: 1s;
}

.contact-content p {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.3s;
}

.home-sci {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, #4169e4,#ffd700,#0c1022);
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-sci a:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



section {
  display: none;
}
section.home {
  display: block;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0;
}

.skills-content,
.portfolio-content,
.contact-content,
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 40px 0;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cv-content {
  margin-top: 40px;
}

.cv-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cv-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cv-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cv2-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.cv-content li {
  margin-bottom: 10px;
}


.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    color:aliceblue;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.8s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #4169e4,#ffd700, #0c1022);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: 5s ease;
}

.btn:hover::before {
    background-position: 100% 0;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #4169e4,#ffd700,#0c1022);
    background-position: 0 0; 
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    transition: 5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.8s;
}

.btn:hover::after {
    background-position: 100% 0;
}

.home-sci a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #4169e4,#ffd700,#0c1022);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    z-index: 1;
}
.home-sci a:nth-child(1) {
    opacity: 0;
    justify-content: center;
    align-items: center;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(2) {
    opacity: 0;
    justify-content: center;
    align-items: center;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(3) {
    opacity: 0;
    justify-content: center;
    align-items: center;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(4) {
    opacity: 0;
    justify-content: center;
    align-items: center;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #4169e4,#ffd700,#0c1022);
    border-radius: 50%;
    z-index: -1;
    transform: scale(.88);
}

.home-sci a:hover::before {
    filter: blur(5px);
}

.home-sci a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(30, 52, 78);
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: 5s ease;
}

.home-sci a:hover::after {
    transform: scale(0);
}
.home-sci a i {
    position: relative;
    z-index: 1;
    transition: 0.3s ease;
}

.container {
  min-height: 200px;
  padding: 20px;
}
.pile {
  display: grid;
  grid-template-areas: "pile";
  place-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.pile > div {
  z-index: 1;
}

img.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    animation: slideBottom .5s ease forwards;
    animation-delay: 2.5s;
}

.XOLISA {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 200px; /* adjust the width to your liking */
  height: 200px; /* adjust the height to your liking */
  margin-right: 20px; /* add some space between the image and text */
  border-radius: 50%; /* optional: make the image circular */
}

.intro-text {
  flex: 1;
}

@media (max-width: 768px) {
  body {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
